Package: com.iospretend.iospretend
Name: iOSPretend
Version: 1.0.1
Architecture: iphoneos-arm64
Description: Internal version
Maintainer: iospretend
Author: iospretend
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000) | ellekit, preferenceloader, firmware (>= 14.0)
